body {
  font-family: monospace;
  font-size: 1.2rem;
}

h1 {
  text-align: center;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.values {
  margin-left: 50px;
  width: 50px;
}

.text {
  width: 120px;
}

.range {
  width: 200px;
}

.box {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  margin-top: 30px;
}
